:root {
    --main-color : black
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-image: url(../img/back-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 64vh;
    overflow: hidden;
}
header::before {
    content: '';
    background-image: url(../img/mt-1825_home_header-bg02.png);
    position: fixed;
    width: 104vw;
    height: 713px;
    left: -97px;
    top: -210px;
    z-index: 1;
    background-size: cover;
}
header::after {
    content: '';
    background-image: url(../img/mt-1825_home_header-parallax.png);
    position: absolute;
    width: 109vw;
    height: 610px;
    left: -82px;
    top: -117px;
    z-index: 0;
    background-size: cover;
}
header .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 56vw;
    margin: 0 auto;
}
header h1 {
    width: fit-content;
    margin: auto;
    background-color: white;
    padding: 1% 11% 2%;
    position: relative;
    border-radius: 8px;
    border: 2px solid #eeb108;
    box-shadow: 0 0 #fbd00d;
}
header div.header_img,
header div.header_img2 {
    width: 5vw;
}
header div.header_img img,
header div.header_img2 img {
    width: 100%;
    border-radius: 50%;
}
header div.img {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 4;
}
header div.img img {
    position: relative;
    top: 80px;
}

#d-wrapper {
    background-color: #fff;
    height: 520px;
    z-index: 4;
    position: relative;
}
.wrapper {
    overflow: hidden;
    background-color: #f2f2f2;
}
.wrapper .zig-zag-bottom{
    margin: 32px 0;
    margin-top: 0;
    background: #1ba1e2;
}
.wrapper	.zig-zag-top{
    margin: 32px 0;
    margin-bottom: 0;
    background: #1ba1e2;
}

.wrapper	.zig-zag-bottom,
.wrapper	.zig-zag-top{
            padding: 32px 0;
}
.wrapper	.zig-zag-bottom:after{
    background: linear-gradient(-45deg, transparent 16px, #e0e0e0 0), linear-gradient(45deg, transparent 16px, #e0e0e0 0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 22px 32px;
    content: "";
    display: block;
    width: 100%;
    height: 13px;
    position: relative;
    top: 19px;
    left: 0px;
}
.wrapper .title {
    padding: 1% 0;
    margin: 0;
    z-index: 2;
    height: 63px;
    text-align: center;
    position: relative;
    background: #e0e0e0;
    font-size: x-large;
}
.wrapper > .img {
    position: relative;
    display: flex;
    justify-content: center;
    height: 56vh;
    top: -68vh;
}
.wrapper > .img img {
    position: absolute;
}
#d-wrapper .filter {
    list-style: none;
    display: flex;
    width: 500px;
    padding: 0;
    margin: 2rem auto;
    align-items: center;
    justify-content: space-between;
}
#d-wrapper .filter li {
    font-weight: 500;
    background-color: #e0e0e0;
    padding: 1% 3%;
    border-radius: 10px;
    cursor: pointer;
}
#d-wrapper .filter li:hover,
#d-wrapper .filter li.active {
    color: #eeb108;
}
#d-wrapper .card {
    z-index: 22;
    position: relative;
    overflow: hidden;
    border-color: #eeb108;
    cursor: pointer;
}
#d-wrapper .card-img-top {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
#d-wrapper .card-body:before {
    content: '10dt';
    position: absolute;
    background-color: #fff002;
    padding: 1% 2%;
    top: 54%;
    left: 71%;
    font-weight: 700;
}
#d-wrapper .card-body h2 {
    font-size: 20px;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 0 0px #ddd;
    padding-bottom: 5px;
}
#d-wrapper .card-body p {
    font-weight: 400;
}
#d-wrapper .owl-stage {
    margin-left: 3.5%;
    height: 360px;
}
#d-wrapper .owl-next {
    position: absolute;
    top: 34%;
    left: 97.5%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 0;
    overflow: hidden;
    background-color: #fff191;
}
#d-wrapper .owl-next span {
    position: relative;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    font-size: 51px;
    border-radius: 50%;
    left: 22%;
    top: -6px;
    color: #eeb108;
    font-weight: 700;
}
#d-wrapper .owl-prev {
    position: absolute;
    top: 34%;
    left: -3%;
    width: 80px;
    height: 80px;
    background-color: #fff191;
    border-radius: 50%;
    z-index: 0;
}
#d-wrapper .owl-prev span {
    position: relative;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    font-size: 51px;
    border-radius: 50%;
    left: 64%;
    top: -4px;
    color: #eeb108;
    font-weight: 700;
}
#d-wrapper .owl-dots {
    display: none;
}
nav {
    background-image: url(../img/back-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.owl-carousel2 {
    width: 46%;
    margin: 0 auto;
}
.owl-carousel2 .img {
    width: 767px;
}
.owl-carousel2 img {
    width: 90% !important
}
.owl-carousel2 .owl-dots {
    display: none;
}

footer {
    z-index: 2;
    position: relative;
}
footer .reach_us {
    margin: 2% auto;
    display: flex;
    width: 50vw;
    box-shadow: 0 0 7px #b6b6b6;
    height: 300px;
}
footer .reach_us iframe {
    height: 100%;
    flex: 1;
}
footer .reach_us div{
    flex: 1;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul {
    list-style: none;
}
footer ul li {
    font-weight: 700;
}
footer ul span {
    font-weight: 400;
}
footer .last_part {
    width: 51%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .last_part p {
    
}
footer .last_part p span {
    font-weight: 700;
    color: #fcc407;
}
footer .last_part .icon {
    border-radius: 50%;
    color: white;
    cursor: pointer;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .last_part .icon a {
    color: white;
    background-color: #0165E1;
    width: 25px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
}
footer .last_part .icon a:last-child {
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}